
<!--<h3 id="titulo">Crear Campaña</h3>
<div>
    <form>
      <label class='text' for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Nombre de la campaña">
  
      <label class='text' for="lname">A que autoridad va dirigida la campaña?</label>
      <input type="text" id="lname" name="lastname" placeholder="Autoridad dirigida">

      <label class='text' for="lname">Descripcion</label>
      <input type="text" id="lname" name="lastname" placeholder="Descripcion de la campaña">
  
      <label class='text' for="country">Categoria</label>
      <select id="country" name="country">
        <option value="australia">Animales</option>
        <option value="canada">Labor social</option>
        <option value="usa">Ayuda solidaria</option>
      </select>
    
      <label class='text' for="img">Seleccionar imagen</label>
      <input type="file" id="img" name="img" accept="image/*">

      <div id="boton">
        <input type="submit"  value="Crear Campaña">
      </div>
      
    </form>
  </div>-->
  <br>
<div class="main-div">
  <mat-card class="example-card" style="background-color: #c8e4fb;">
  <mat-card-header>
    <mat-card-title>Crear Campaña</mat-card-title>
    <mat-card-subtitle style="color: darkslateblue;">Llene el formulario para que su campaña sea creada</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <mat-vertical-stepper linear>
        <mat-step #personal="ngModelGroup" ngModelGroup="personal" [completed]="personal.valid">
          <ng-template matStepLabel>Datos de la Campaña</ng-template>
          <app-contact modelGroupName="contact" (messageEvent)="receiveMessage($event)"></app-contact>
        </mat-step>
        <mat-step #health="ngModelGroup" ngModelGroup="health" [completed]="health.valid">
          <ng-template matStepLabel>Descripcion de la Campaña</ng-template>
          <app-symptom modelGroupName="symptoms"></app-symptom>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Foto de la Campaña</ng-template>
          <div style="color: #2a3eb1;font-size: medium;margin-top: 0.2em;padding: 0;">¡Añade una foto a tu campaña!</div>
          <input type="file" (change)="seleccionadorImagen($event)" accept="image/*">
          <div>
            <button mat-raised-button type="button" (click)="onClick(f)" color="primary">Crear Campaña</button>
            <button matStepperPrevious mat-button color="warn" style="margin-left: 2em;">Anterior</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-card-content>
  </mat-card>
</div>