
<h3 id="titulo">Crear Campaña</h3>
<div>
    <form>
      <label class='text' for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Nombre de la campaña">
  
      <label class='text' for="lname">A que autoridad va dirigida la campaña?</label>
      <input type="text" id="lname" name="lastname" placeholder="Autoridad dirigida">

      <label class='text' for="lname">Descripcion</label>
      <input type="text" id="lname" name="lastname" placeholder="Descripcion de la campaña">
  
      <label class='text' for="country">Categoria</label>
      <select id="country" name="country">
        <option value="australia">Animales</option>
        <option value="canada">Labor social</option>
        <option value="usa">Ayuda solidaria</option>
      </select>
    
      <label class='text' for="img">Seleccionar imagen</label>
      <input type="file" id="img" name="img" accept="image/*">

      <div id="boton">
        <input type="submit"  value="Crear Campaña">
      </div>
      
    </form>
  </div>