<div class="container">
    <h2 mat-dialog-title>¡Campaña Creada Exitosamente y en espera de Aprobación!</h2>
    <mat-dialog-content class="mat-typography">
        <div class="angular-img-wrapper" style="text-align: center;">
            <app-angular-icon [@bounce]="animationState" style="width: 100%!important;"></app-angular-icon>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="cambiarPestana('misCampanas')">Continuar</button>
    </mat-dialog-actions>
</div>
