
<div id="campañareciente">Eventos disponibles</div>
<div style="width:240px;height:5px; background: #00A6FF;margin-left: 1.5em;"></div>




<mat-grid-list cols="3"  rowHeight="600px" style="margin-bottom: 1em;">
    <mat-grid-tile *ngFor="let key of events">
        <mat-card style="margin-right: 2em;" class="example-card tarjeta" (click)="redirectEventDetail({eventId: key.eventId})" >
            <!-- (click)="redirectEventDetail({eventId: key.campaignId})" -->
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>{{ key.name}}</mat-card-title>

            </mat-card-header>
            <div class="container" style="margin-top: 5%;padding-left: 0;padding-right: 0;text-align: center;">
                <img mat-card-image src={{key.eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <div class="content">
               
                  <p style="font-size: 17.2px;">{{key.description}}</p>

                </div>
                <div id="divAbajo">
                    <p style="font-size: 17.2px;">Dia: {{key.dateEvent | date:'yyyy/MM/dd'}}</p>
                    <p style="font-size: 17.2px;">Direccion: {{key.address}}</p>
     

                </div>
            </div>
            
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>

