
  
  #tituloPerfil{
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 2.5%;
  }
  
  #fotoPerfil{
  height: 10%;
  width: 25%;
  border-radius: 10%;
  }
  
  #divFoto{
  margin-top: 2%;
  text-align: center;
  }
  
  #datosUsuario{
  text-align: center;
  margin-top: 2.55%;
  margin-bottom: 3.5%;
  }
  
  .infoUsuario{
  margin-top: 1.2%;
  }

  #div{
    margin-top: 200px;
    margin-left: 4em;
    margin-right: 5em;
  }

  #tituloPrincipal {
    display: block;
    font-size: 2.5em;
    margin-top: 4em;
    text-align: center;
  }

  .mision{
    display: flex;
    align-items: center;
  }

  .vision{
    display: flex;
    align-items: center;
  }

  .div{
    margin-top: 6em;
  }