
    .Actualizacion {
      background-color: #fc4b6c;
    }
 
    .Convocatoria {
      background-color: #1e88e5;
    }
 
    .Design {
      background-color: #26c6da;
    }
 
    .Android {
      background-color: #ffb22b;
    }

    #div{
      margin-top: 200px;
      margin-left: 4em;
      margin-right: 5em;
    }
 
    /* color: #fff; */
 
    /* .mat-card-title {
      font-size: 15px !important;
      display: flex;
      align-items: center;
 
      .course-duration {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    } */
 
 
  .mat-card-actions {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding: 8px 0 !important;
  }