#titulo{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

img {
    max-width: 100%;
}

#campanaFoto{
    /*width: 400;*/
    max-width: 100%;
    margin-top: 1.5%;
    margin-right: 2;
    margin-bottom: 4em;
    /*
    width: 32%;
    height: 550px;
    border-radius: 7.5%;
    margin-top: 1.5%;
    
    margin-right: 2;
    */
}

#fotoPerfil{
    max-width: 100%;
    display:block;
    margin: auto;
    /*
    width: 85%;
    height: 85%;
    display:block;
    margin: auto;
    */
    
}

#mainCampana{
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 95%;
    justify-content: center;
    align-content: center;
    height: 70%;
    
    /* margin-left: 7.5%; */
    

}

.titulos{
    align-items: left;
    font-weight: bold;
    font-size: x-large;
}
.textoDetalle{
    font-size: medium;
    text-align: justify;
}

#descripcion{
    text-align: justify;
    width: 55%;
    margin-left: 4em;
    padding-right: 10em;
}
#divChat{
    display: flex; 
    margin: 0 auto;
    margin-top: 0.5%;
}

#chat{
    margin: 0 auto;
    align-items: center;

    width: 100%;
}

#divBotonNegar{
    margin: 0 auto;
    margin-bottom: 1.5%;
    margin-left: 42.5%;
}

#botonOcultar{
    color:black !important;
    font-size: 25px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    margin: 0 auto;
    margin-bottom: 1%;
}

#botonOcultar:hover {
    background: #318aac;
    color:black !important;
  }

#botonChat {
    color:black !important;
    font-size: 25px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
    margin: 0 auto;
  }
#botonChat:hover {
    background: #318aac;
    color:black !important;
  }

#mensajeria{
    width: 100%;
    margin-bottom: 2.5%;
}

#div{
    margin-top: 200px;
    margin-left: 4em;
    margin-right: 5em;
}
/* 


#textoDetalle{
    margin-left: 1.5%;
}

#Info{
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;
    width: 55%;
    margin-top: 5%;
    justify-content: center;
    align-items: left;
} */