
<div id="div">

    <div style="margin-bottom: 50px;" id="titulo"> 
        <h2>{{originalCampaign.name}}</h2>
        <div style="width: 100%; height: 3px; background: #00A6FF; margin-bottom: 3em; margin-top:1em;"></div>
    </div>
    <!-- <div style="width:230px;height:5px; background: #00A6FF;margin-left: 1.5em;"></div> -->

    <div id="mainCampana">
        <div class="row ">
            <!--div class="col-12 col-lg-12" id="campanaFoto" >
                <img id="fotoPerfil" src={{originalCampaign.campaignPic}} alt="Foto de campaña">
            </div-->
            <div class="center">
                <div id="carouselCont" >
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide class="imageSlider" *ngFor="let image of originalCampaign.campaignPic">
                            <div class="picsum-img-wrapper">
                                <img id="bgimage" [src]="image" alt="Random second slide" style="min-height:450px; max-height:450px;  margin:0 auto;">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>   
                <p style="font-size: 11;  text-align: justify;"><b>{{originalCampaign.promotore.displayName}}</b> empezó esta campaña hacia <b>{{originalCampaign.autority.name}}</b></p>
                <p style="font-size: 5;  text-align: justify;"><i>{{originalCampaign.numFollowers}} persona han seguido esta campaña</i></p>
                
            </div>
            
            
        
            <div class="col-12 col-lg-12" id="descripcion">
                
                <p class="titulos">¿Cuál es el problema?</p>
                <p class="textoDetalle">{{originalCampaign.description}}</p>

                <p class="titulos">¿A quién afecta?</p>
                <p class="textoDetalle">{{originalCampaign.questionAffect}}</p>

                <p class="titulos">¿Qué esta pidiendo?</p>
                <p class="textoDetalle">{{originalCampaign.questionAsking}}</p>
                
                
        
                <p  class="titulos">Estado de la campaña</p>
                <p style="font-size: medium; background-color:red; color: white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="originalCampaign.state.rejected && !originalCampaign.state.running && !originalCampaign.state.finished" >Negada</p>
                <p style="font-size: medium; background-color: rgba(167, 167, 15, 0.507);color: white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="!originalCampaign.state.running && !originalCampaign.state.rejected && !originalCampaign.state.finished">Pendiente</p>
                <p style="font-size: medium; background-color: green;color:white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="originalCampaign.state.running">Aprobada</p>
                <p style="font-size: medium; background-color: rgba(56, 77, 73, 0.507);color:white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="originalCampaign.state.finished">Finalizada</p>
                    

                
        
                <p class="titulos">Categoria</p>
                <div *ngFor="let categori of originalCampaign.categories">
                    <p style="font-size: medium; float:left; margin-right: 10px; background-color: rgba(28, 139, 119, 0.507);color:white; width: 120px;text-align: center;border-radius: 10%;">{{categori}}</p>
                </div>
                <br><br>

                
                <div>
                    <p class="titulos" style="float:left; margin-right: 35px;" >Ciudad</p>
                    <p class="textoDetalle" >{{originalCampaign.ciudad.name}} </p><br>
                </div>
        
                <p class="titulos">Inicio-Fin de la campaña</p>
                <p class="textoDetalle">{{originalCampaign.dateStart.split(',')[0]}} - {{originalCampaign.dateEnd.split(',')[0]}}</p>
                <p class="textoDetalle" style="margin-left: 10px;">{{originalCampaign.dateStart.split(',')[1]}} - {{originalCampaign.dateEnd.split(',')[1]}}</p>
            
            </div>
        </div>
        
    </div>

    <div *ngIf="campanaUsuario" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="openDialog()">Añadir convocatoria</button></div>
    <div *ngIf="!campanaUsuario&&!followedCampaign" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="firmarCampana()">Firmar campaña</button></div>
    <div *ngIf="!campanaUsuario&&followedCampaign" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: rgb(138, 19, 19);" mat-raised-button (click)="quitarFirma()">Quitar firma</button></div>
    
    <div style="text-align: center;" *ngIf="condicionNoEventos">
        <div style="    font-size: xx-large;color: #f05454;margin-top: 2em;">Lo sentimos, no hay eventos para esta campaña.</div>
        <img style="width: 622px!important;" width="622px!important" height="378px" src="assets/img/search-concept-landing-page.jpg">
    </div>

    
    <div *ngIf="!condicionNoEventos" class="row" style="display: flex;padding-left: 3em;margin-top:4em; margin-right:3em;">
        
        <div  [attr.data-index]="i"  class="col-xs-12 col-md-12 col-lg-12"  style="margin-bottom: 2em; margin-right: 4em;">     
            <h1 style="margin-bottom: 1%;margin-top: 1%;color: #1976d2;font-weight: bold;" mat-dialog-title>Convocatorias</h1>
            <br>
            <div *ngFor="let in of events ;let x = index">
                <button [value]="x" (click)="selectValue(x)" class="button">{{events[x].name}}</button>
                
            </div>
            <br><br><br>
            <div mat-dialog-content>
                <div style="color: #1976d2;">Nombre de la convocatoria</div>
                <mat-label style="width: 400px;">{{events[i].name}}</mat-label>
            
                <div style="color: #1976d2;">Descripcion</div>
                <mat-label>Cuéntenos por qué organizaste esta reunión</mat-label>
                <mat-label>{{events[i].description}}</mat-label>
                <div style="color: #1976d2;">Fecha y hora de la convocatoria</div>

                <p class="textoDetalle">{{events[i].dateEvent}}</p>
                <div style="color: #1976d2;">Foto de la convocatoria</div>

                <div class="form-row" style="margin-bottom: 2%;">
                    <div class="col col" style="text-align: center">
                    <div class="border margencamera">
                        <div class="center">
                            <div id="carouselCont" >
                                <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                                    <ng-template ngbSlide class="imageSlider" *ngFor="let image of events[i].eventPic">
                                        <div class="picsum-img-wrapper">
                                            <img id="bgimage" [src]="image" alt="Random second slide" style="min-height:450px; max-height:450px;  margin:0 auto;">
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>   
                        </div>
                    </div>
                    </div>
                </div>

                <div style="color: #1976d2;">Dirección de la convocatoria</div>
                
                <div class="form-group" style="width: 400px;">
                    <p class="textoDetalle">{{events[i].address}}</p>
                </div>
                <agm-map 
                    [latitude]="latitude" 
                    [longitude]="longitude" 
                    [zoom]="zoom" >
                        <agm-marker 
                        [latitude]="latitude" 
                        [longitude]="longitude" [markerDraggable]="false"> 
                    </agm-marker>
                </agm-map>          
                <div *ngIf="true" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="redirectEventDetail({eventId: events[i].eventID})">Ver más</button></div>     
                </div>
        </div>
    </div>

    
    <div *ngIf="miCampanaNegada" id="divChat">
        <button id="botonChat" *ngIf="!mostrar_chat"(click)="mostrar_chat= true">Mostrar Chat</button>
        <ng-container *ngIf="mostrar_chat">

            <div id="chat">

                <div id="divBotonNegar">
                    <button (click)="mostrar_chat=false" id="botonOcultar">Ocultar Chat</button>
                </div>
                <div id="mensajeria">
                    <app-chat  [chat]="conversation"(messageEvent) = "sendMessageToConversation($event)" ></app-chat>
                </div>


            </div>
            
            
            
    </ng-container>
    </div>

</div>