#titulo{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#campanaFoto{
    height: 15%;
    width: 32%;
    border-radius: 8%;
    margin-top: 2.5%;
}

#fotoPerfil{
    width: 550px;
    height: 350px;
}

#mainCampana{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 85%;
    justify-content: center;
    align-content: center;
    margin-left: 7.5%;
    

}
#descripcion{
    margin-left: 2.5%;
    width: 62%;
    text-align: center;
}
#textoDetalle{
    margin-left: 1.5%;
}

#Info{
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;

    width: 55%;
    margin-top: 5%;
    justify-content: center;
    align-items: left;

}