<h1 style="margin-bottom: 1%;margin-top: 1%;color: #1976d2;font-weight: bold;" mat-dialog-title>Nueva Convocatoria</h1>
<div mat-dialog-content>
  <div style="color: #1976d2;">Nombre de convocatoria</div>
  <mat-form-field style="width: 400px;">
    <mat-label>Ingrese el nombre de tu convocatoria</mat-label>
    <input name="someUnusualName" autocomplete="off" matInput [(ngModel)]="data.nombreconvocatoria">
  </mat-form-field>
  <div style="color: #1976d2;">Descripcion</div>
  <mat-form-field style="width: 400px;">
    <mat-label>Cuéntenos por qué organizaste esta reunión</mat-label>
    <input name="someUnusualName2" autocomplete="off"matInput [(ngModel)]="data.descripcion">
  </mat-form-field >
  <div style="color: #1976d2;">Fecha y hora de la convocatoria</div>
  <div>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker1" [(ngModel)]="data.fechaconvocatoria" 
      placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div style="color: #1976d2;">Foto de convocatoria</div>
  <div class="form-row" style="margin-bottom: 2%;">
    <div class="col col" style="text-align: center">
      <div class="border margencamera">
        <!--esta relacionado el input con el imagen-->
        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
        <img [src]="photoSelected || '/assets/img/foto.png' " class="img-fluid" alt="No image"
          (click)="photoInput.click()"><br>
      </div>
    </div>
</div>
  <div style="color: #1976d2;">Dirección de la convocatoria</div>
  <!--<mat-form-field style="width: 400px;">
    <mat-label>¿En dónde quieres realizar tu reunión?</mat-label>
    <input name="someUnusualName4" autocomplete="off" matInput [(ngModel)]="data.direccion">
  </mat-form-field>-->
  <div class="form-group" style="width: 400px;">
    <label>¿En dónde quieres realizar tu reunión?</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <agm-map 
      [latitude]="latitude" 
      [longitude]="longitude" 
      [zoom]="zoom" >
        <agm-marker 
        [latitude]="latitude" 
        [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"> 
      </agm-marker>
  </agm-map>
  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
  
</div>
<div style="justify-content: center;" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial style="background-color: #4caf50;">Crear Convocatoria</button>
</div>