
<h3 id="titulo">Registrar Usuario</h3>
<div>
    <form>

        <label class='text' for="fname">Usuario</label>
      <input type="text" id="fname" name="firstname" placeholder="Usuario">



      <label class='text' for="fname">Contraseña</label>
      <input type="text" id="fname" name="firstname" placeholder="Contraseña del usuario">


      <label class='text' for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Nombre del usuario">
  
      <label class='text' for="lname">Apellido</label>
      <input type="text" id="lname" name="lastname" placeholder="Apellido del usuario">

      <label class='text' for="lname">Direccion</label>
      <input type="text" id="lname" name="lastname" placeholder="Direccion del usaurio">
  
      <label class='text' for="country">Telefono</label>
      <input type="text" id="lname" name="lastname" placeholder="Telefono del usuario">
    
      <label class='text' for="img">Seleccionar imagen</label>
      <input type="file" id="img" name="img" accept="image/*">

      <div id="boton">
        <input type="submit"  value="Registrar Usuario">
      </div>
      
    </form>
  </div>