
<br><h3 id="titulo">Registrar Usuario</h3>
<div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>

      <div>
        <label class='text' for="email">Email <sub style='color:red;'>(Obligatorio)</sub></label>
        <input type="email" class="mail" id="email" name="email" placeholder="Email" ngModel required #email="ngModel" (ngModelChange)="validateEmail($event)">
        <label *ngIf='!isEmail' class='text' style="float:right;"><sub style='color:rgb(128, 35, 35);'>Email con formato incorrecto</sub></label>
        
      </div>
      
      <div>
        <label class='text' for="password">Contraseña <sub style='color:red;'>(Obligatorio)</sub> </label>
        <input type="password" id="password" name="password" placeholder="Contraseña del usuario" minlength="6" ngModel required #password="ngModel" (ngModelChange)="validatePassword($event)">
        <label *ngIf='!isPassword' class='text' style="float:right;"><sub style='color:rgb(128, 35, 35);'>Contraseña debe tener al menos 6 caracteres.</sub></label>
      </div>

      <div>
        <label class='text' for="fname">Nombre Completo <sub style='color:red;'>(Obligatorio)</sub></label>
        <input type="text" id="fname" name="fname" placeholder="Nombre del usuario" ngModel required #fname="ngModel" (ngModelChange)="validateName($event)">
        <label *ngIf='!isName' class='text' style="float:right;"><sub style='color:rgb(128, 35, 35);'>Debe escribir el nombre.</sub></label>
      </div>

      <div>
        <label class='text' for="number">Teléfono</label>
        <input type="text" id="number" name="number" placeholder="Teléfono del usuario" ngModel #number="ngModel" (ngModelChange)="validateNumber($event)">
        <label *ngIf='!isNumber' class='text' style="float:right;"><sub style='color:rgb(128, 35, 35);'>Debe escribir 10 números.</sub></label>
      </div>
      
      <div>
        <label class='text' for="cedula">Cédula</label>
        <input type="text" id="cedula" name="cedula" placeholder="Cédula del usuario" ngModel #cedula="ngModel" (ngModelChange)="validateNumber2($event)">
        <label *ngIf='!isNumberCed' class='text' style="float:right;"><sub style='color:rgb(128, 35, 35);'>Debe escribir 10 números.</sub></label>
      </div>
  
      

      
    
      <div id="boton">
        <button (click)="onClick(f)" color="primary">Registrar Usuario</button>
      </div>
      
    </form>
  </div>