

<div id="datos">

      <h4 id="tituloBienvenido">Bienvenido a Ayudar-App</h4>


        <input type="email" class="login-username" autofocus="true" required="true" placeholder="Correo" />
        <input type="password" class="login-password" required="true" placeholder="Clave" />
        <!-- <input type="submit" name="Login" value="Iniciar Sesion" class="loginBtn loginCorreo" /> -->

       
        
        <button  class="loginBtn loginCorreo">
          Iniciar sesion
        </button>

          <button class="loginBtn loginBtn--facebook">
            Login with Facebook
          </button>

          <button class="loginBtn loginBtn--google" (click)="loginGoogle()">
            Login with Google
          </button>
</div>

  

