

<div id="datos">


        <input type="email" class="login-username" autofocus="true" required="true" placeholder="Correo" />
        <input type="password" class="login-password" required="true" placeholder="Clave" />
        <input type="submit" name="Login" value="Iniciar Sesion" class="login-submit" />

        <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText">Google</span>
          </div>


</div>

  
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 
