<mat-tab-group mat-align-tabs="end" animationDuration="2000ms">
    <mat-tab label="Home">
        <card-fancy-example></card-fancy-example>
    </mat-tab>
    <mat-tab label="Donaciones">
        Content-2
    </mat-tab>
    <mat-tab label="Campañas"><detalle-campana></detalle-campana></mat-tab>
    <mat-tab label="Eventos"><crear-campana></crear-campana></mat-tab>
    <mat-tab label="Perfil"><perfil></perfil></mat-tab>
    <mat-tab label="Log Out"><campanas></campanas></mat-tab>
</mat-tab-group>