<mat-tab-group mat-align-tabs="end" animationDuration="2000ms">
    <mat-tab label="Home">
        <card-fancy-example></card-fancy-example>
    </mat-tab>
    <mat-tab label="Donaciones">
        <campanas></campanas>
    </mat-tab>
    <mat-tab label="Campañass"><campanas></campanas></mat-tab>
    <!-- <mat-tab label="Crear Campaña"><crear-campana></crear-campana></mat-tab> -->
    <mat-tab label="Eventos"></mat-tab>
    <mat-tab label="Perfil"><perfil></perfil></mat-tab>
    
</mat-tab-group>