
<div id="div">

    <div id="campañareciente">Campañas Cerca de Ti</div>
    <div style="width: 100%; height: 3px; background: #00A6FF; margin-bottom: 3em;"></div>


    <div style="display: flex;margin-top: 1em;">
        <div style="font-size: larger;margin-top: 1em;margin-right: 1em;margin-left: 1em;">Selecciona una categoria:</div>
        <mat-form-field appearance="fill">

        <mat-select (selectionChange)="getCampaigns($event.value)" [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let cat of listaCategorias" [value]="cat.nombre">
                {{cat.nombre}}
            </mat-option>
        
        </mat-select>
        </mat-form-field>
        <!-- (selectionChange)="getCampaigns($event.value)" -->
    </div>


    <div style="text-align: center;" *ngIf="condicioncampanavacia">
        <div style="    font-size: xx-large;color: #00A6FF;margin-top: 2em;">Lo sentimos, no hay campañas con esa categoria</div>
        <img style="width: 622px!important;" width="622px!important" height="378px" src="assets/img/search-concept-landing-page.jpg">
    </div>



    <!--MELANIE-->
    <div *ngIf="!condicioncampanavacia" class="row" style="display: flex;padding-left: 3em;margin-top:2em; margin-right:3em;">
        
        <div *ngFor="let key of campaigns" class="col-xs-12 col-md-12 col-lg-12"  style="margin-bottom: 2em;">       

            <mat-sidenav-container class="example-container" >
            <mat-card class="home-card" >
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                        <mat-card-title>{{key.name}}</mat-card-title>
                        <mat-card-subtitle>{{key.promoter.name}} </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content class="home-card-content" >
                        <div class="flex-row" id="carta">
                            <div class="col-xs-11 col-md-11 col-lg-11">
                                <img mat-card-image img-fluid style="margin-top: 1em; margin-bottom: 1em;" src={{key.campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12">
                            <!--h4>{{key.name}}</h4-->
                            <p style="font-size: medium;  text-align: justify;">{{key.description}}...</p>
                            </div>
                        </div>
                    </mat-card-content>
                    
                    <mat-card-actions class="action-buttons">
                        <button mat-button color="primary" style="font-size: medium; margin-right: 2em;" >
                                <mat-icon class="material-icons1" *ngIf="showFirst" style="color:#f44336">favorite_border</mat-icon> 
                                <mat-icon class="material-icons1" *ngIf="!showFirst" style="color:#f44336">favorite</mat-icon> {{key.numFollowers}} Followers
                        </button>

                        <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                        (click)="redirectCampaignDetail({campaignId: key.campaignId})" target="_blank" >
                        <mat-icon class="material-icons1">visibility</mat-icon>Ver más
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-sidenav-container>
        </div>

    </div>



</div>