
<div id="div">

    <div id="campañareciente">Campañas Cerca de Ti</div>
    <div style="width: 100%; height: 3px; background: #f05454; margin-bottom: 3em; margin-top:1em;"></div>


    <div style="display: flex;margin-top: 1em;">
        <div style="font-size: larger;margin-top: 1em;margin-right: 1em;margin-left: 1em;">Selecciona una categoria:</div>
        <mat-form-field appearance="fill">

        <mat-select (selectionChange)="getCampaigns($event.value)" [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let cat of listaCategorias" [value]="cat.name">
                {{cat.name}}
            </mat-option>
        
        </mat-select>
        </mat-form-field>
        <!-- (selectionChange)="getCampaigns($event.value)" -->
    </div>


    <div style="text-align: center;" *ngIf="condicioncampanavacia">
        <div style="    font-size: xx-large;color: #f05454;margin-top: 2em;">Lo sentimos, no hay campañas con esa categoria</div>
        <img style="width: 622px!important;" width="622px!important" height="378px" src="assets/img/search-concept-landing-page.jpg">
    </div>



    <!--MELANIE-->
    <div *ngIf="!condicioncampanavacia" class="row" style="display: flex;padding-left: 3em;margin-top:4em; margin-right:3em;">
        
        <div *ngFor="let key of campaigns" class="col-xs-12 col-md-12 col-lg-12"  style="margin-bottom: 2em; margin-right: 4em;">       

            <mat-sidenav-container class="example-container" >
            <mat-card class="home-card" >
                    <mat-card-header>
                        <!--div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div-->
                        
                        
                        <mat-card-title><b>{{key.name}}</b></mat-card-title>
                        <mat-card-subtitle>Autoridad: <b>{{key.autority.name}}</b> </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content class="home-card-content" >
                        <div class="flex-row" id="carta">
                            <div class="col-xs-12 col-sm-12">
                                <img class="center" mat-card-image img-fluid style="margin-top: 1em; margin-bottom: 1em;" src={{key.campaignPic}} alt="Photo of a Shiba Inu">
                            </div>
     
                            <div class="col-xs-12 col-sm-12">
                                <p style="font-size: medium;  text-align: justify;"></p>
                                <h5>¿Cuál es el problema?</h5>
                                <p style="font-size: 11;  text-align: justify;">{{key.description | slice:0:500}}...</p>
                                <p style="font-size: 11;  text-align: justify;">{{key.questionAsking | slice:0:300}}...</p>
                            </div>
                        </div>
                    </mat-card-content>
                    
                    <mat-card-actions class="action-buttons">
                        <button mat-button color="primary" style="font-size: medium; margin-right: 2em;" >
                                <mat-icon class="material-icons1" *ngIf="showFirst" style="color:#f44336">favorite_border</mat-icon> 
                                <mat-icon class="material-icons1" *ngIf="!showFirst" style="color:#f44336">favorite</mat-icon> {{key.numFollowers}} Followers
                        </button>

                        <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                        (click)="redirectCampaignDetail({campaignId: key.campaignId})" target="_blank" >
                        <mat-icon class="material-icons1">visibility</mat-icon>Ver más
                        </button>
                    </mat-card-actions>
                    <div mat-card-avatar class="header-image">
                        <img mat-card-image img-fluid src={{key.promotore.profilePic}} alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-subtitle>Promotor de la campaña: <b>{{key.promotore.name}}</b> </mat-card-subtitle>
                    <mat-card-subtitle>{{key.dateStart}} - {{key.dateEnd}}</mat-card-subtitle>
                    
                </mat-card>
            </mat-sidenav-container>
        </div>

    </div>



</div>