
<div id="campañareciente">Campañas Cerca de Ti</div>
<div style="width:240px;height:5px; background: #00A6FF;margin-left: 1.5em;"></div>
<div class="example-container" style="display: flex;margin-top: 1em;">
    <div style="font-size: larger;margin-top: 1em;margin-right: 1em;margin-left: 1em;">Seleccione una ciudad:</div>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.value">
            {{ciudad.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<mat-grid-list cols="3" rowHeight="600px" style="margin-bottom: 1em;">
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>Andres Caicedo</mat-card-title>
                <mat-card-subtitle>Promotor Estrella</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/lady.jpg);"></div>
                <mat-card-title>Carla Alcivar</mat-card-title>
                <mat-card-subtitle>Promotora Destacada</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/493-banner2p-750x600.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>Andres Caicedo</mat-card-title>
                <mat-card-subtitle>Promotor Estrella</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="3" rowHeight="600px">
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>Andres Caicedo</mat-card-title>
                <mat-card-subtitle>Promotor Estrella</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/lady.jpg);"></div>
                <mat-card-title>Carla Alcivar</mat-card-title>
                <mat-card-subtitle>Promotora Destacada</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/493-banner2p-750x600.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>Andres Caicedo</mat-card-title>
                <mat-card-subtitle>Promotor Estrella</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>