<div id="div">

    <div id="titulo" >
        <h2>{{evento.name}}</h2>
        <div style="width: 100%; height: 3px; background: #f05454; margin-bottom: 3em; margin-top:1em;"></div>
    </div>
    
    <div id="mainCampana">
    
        <div class="row">
    
            <div class="col-12 col-lg-12" id="campanaFoto">
                <img id="fotoPerfil" src={{evento.eventPic}} alt="Foto de evento">
            </div>
    
            <div class="col-12 col-lg-12" id="descripcion">
                <p class="titulos">Descripcion del evento</p>
                <p class="textoDetalle">{{evento.description}}</p>

                <p class="titulos">Dia y Hora del evento</p>
                <p class="textoDetalle">{{evento.dateEvent}}</p> 

                <p class="titulos">Dirección</p>
                <p class="textoDetalle">{{evento.address}}</p>

                <p class="titulos">Ciudad</p>
                <p class="textoDetalle">{{evento.name}}</p>

                <p class="titulos">Tipo</p>
                <p class="textoDetalle">{{evento.type}}</p>

                <p class="titulos">Contacto</p>
                <p class="textoDetalle">{{evento.userP.email}}</p>

                <p  class="titulos">Estado del evento</p>
                <p style="font-size: medium; background-color:red; color: white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="evento.state.rejected && !evento.state.running && !evento.state.finished" >Negada</p>
                <p style="font-size: medium; background-color: rgba(167, 167, 15, 0.507);color: white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="!evento.state.running && !evento.state.rejected && !evento.state.finished">Pendiente</p>
                <p style="font-size: medium; background-color: green;color:white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="evento.state.running">Aprobada</p>
                <p style="font-size: medium; background-color: rgba(56, 77, 73, 0.507);color:white; width: 120px;text-align: center;border-radius: 10%;" *ngIf="evento.state.finished">Finalizada</p>
                 


                <p class="titulos">Campaña</p>
                <p class="textoDetalle" style="cursor:pointer" (click)="redirectCampaignDetail({campaignId: evento.idCampaign})">{{evento.campana.name}}</p>
            </div>
        </div>
        
    </div>
    <div *ngIf="eventoUsuario&&evento.type!='Noticia'&&evento.state.running" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="openDialog()">Añadir noticia</button></div>
    <div *ngIf="!eventoUsuario&&!followed&&evento.state.running" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="firmarEvento()">Firmar evento</button></div>
    <div *ngIf="!eventoUsuario&&followed&&evento.state.running&&usuario.cedula!=evento.userP.cedula" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: rgb(146, 5, 5);" mat-raised-button (click)="quitarFirma()">Quitar firma</button></div>
</div>