#titulo{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

#campanaFoto{

    width: 400;
    margin-top: 1.5%;
    margin-right: 2;
    margin-bottom: 4em;
    /*width: 32%;
    height: 550px;
    border-radius: 7.5%;
    margin-top: 1.5%;
    
    margin-right: 2;*/
}

#fotoPerfil{
    width: 400;
    display:block;
    margin: auto;
    /*width: 85%;
    height: 85%;
    display:block;
    margin: auto;*/
    
}

#mainCampana{
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 95%;
    justify-content: center;
    align-content: center;
    height: 75%;
    
    /* margin-left: 7.5%; */
    

}

.titulos{
    align-items: left;
    font-weight: bold;
    font-size: x-large;
}
.textoDetalle{
    font-size: medium;
    text-align: justify;
}

#descripcion{
    text-align: justify;
    width: 55%;
    margin-left: 4em;
    padding-right: 10em;
}
#divChat{
    display: flex; 
    margin: 0 auto;
    margin-top: 1%;
}
#botonChat{
    margin: 0 auto;
}
/* 


#textoDetalle{
    margin-left: 1.5%;
}

#Info{
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;
    width: 55%;
    margin-top: 5%;
    justify-content: center;
    align-items: left;
} */