<div id="div" *ngFor= "let e of misEventos">

    <div id="titulo" >
        <h2>{{e.name}}</h2>
        <div style="width: 100%; height: 3px; background: #f05454; margin-bottom: 3em; margin-top:1em;"></div>
    </div>
    
    <div id="mainCampana">
    
        <div class="row">
    
            <div class="col-12 col-lg-12" id="campanaFoto">
                <img id="fotoPerfil" src={{e.eventPic}} alt="Foto de evento">
            </div>
    
            <div class="col-12 col-lg-12" id="descripcion">
                <p class="titulos">Descripcion del evento</p>
                <p class="textoDetalle">{{e.description}}</p>

                <p class="titulos">Dia y Hora del evento</p>
                <p class="textoDetalle">{{e.dateEvent}}-{{e.hourEvent}}</p> 

                <p class="titulos">Dirección</p>
                <p class="textoDetalle">{{e.address}}</p>

                <p class="titulos">Ciudad</p>
                <p class="textoDetalle">{{e.name}}</p>

                <p class="titulos">Tipo</p>
                <p class="textoDetalle">Convocatoria</p>

                <p class="titulos">Contacto</p>
                <p class="textoDetalle">{{e.email}}</p>

                <p class="titulos">Campaña</p>
                <p class="textoDetalle" style="cursor:pointer" (click)="redirectCampaignDetail({campaignId: e.idCampaign})">{{e.campaign}}</p>
            </div>
        </div>
        
    </div>
    <div *ngIf="eventoUsuario" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="openDialog()">Añadir noticia</button></div>
    <div *ngIf="!eventoUsuario&&!followedEvent&&e.state.running" style="text-align: center;margin-top: 0;"><button style="color: white;background-color: green;" mat-raised-button (click)="firmarCampana()">Firmar evento</button></div>

</div>