.example-card {
    max-width: 100%;
  }

  .convocatoria-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Group_font_awesome.svg');
    background-size: cover;
  }

  .noticia-image {
    background-image: url('https://cdn.onlinewebfonts.com/svg/img_344271.png');
    background-size: cover;
  }

.mat-card-image{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;

}


.mat-card-content{
    text-align: left;
}

.fecha{
  color: gray;
}

.mat-card {
  margin-bottom: 20px;
}


