<div id="campañareciente">Campañas Recientes</div>
<div style="width:230px;height:5px; background: #00A6FF;margin-left: 1.5em;"></div>

<mat-grid-list cols="3" rowHeight="600px">
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                <mat-card-title>Andres Caicedo</mat-card-title>
                <mat-card-subtitle>Promotor Estrella</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/lady.jpg);"></div>
                <mat-card-title>Carla Alcivar</mat-card-title>
                <mat-card-subtitle>Promotora Destacada</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/493-banner2p-750x600.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em;" class="example-card">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lobortis odio. Vivamus ultricies, nisl nec viverra bibendum, sem ante venenatis diam, et convallis ex.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Primary</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div id="campañareciente">Eventos Destacados</div>
<div style="width:230px;height:5px; background: #00A6FF;margin-left: 1.5em;margin-bottom: 0.5em;"></div>

<mat-grid-list cols="4" rowHeight="550px">
    <mat-grid-tile>
        <mat-card style="margin-left: 2em;margin-right: 1em" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/169346.jpg);"></div>
                <mat-card-title>Donación de Ropa</mat-card-title>
                <mat-card-subtitle>Convocatoria</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/224942482.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em; margin-left: 1em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/lady2.jpg);"></div>
                <mat-card-title>Minga Barrial</mat-card-title>
                <mat-card-subtitle>Noticia</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/LODGE-COLCA-750x600.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em; margin-left: 1em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/profile1.jpeg);"></div>
                <mat-card-title>Exhibición de museo</mat-card-title>
                <mat-card-subtitle>Convocatoria</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/Mamut-750x600.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="margin-right: 2em; margin-left: 1em;" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Marcha por falta de agua</mat-card-title>
                <mat-card-subtitle>Noticia</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/pkrdamlake.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper placerat luctus. Sed malesuada pellentesque lectus vel accumsan. Duis lacinia ex ut mi iaculis, at luctus magna interdum. Integer nulla tortor, molestie ut sapien ac.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<ngb-carousel *ngIf="images" style="margin-top: 1em;">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>