
<div ñ>
        <ngb-carousel *ngIf="images"  >
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption" >
                <p style="font-size: xxx-large; color: white;display: block; text-align: center;">
                    ¿Quieres saber que campañas están cerca de ti?
                </p>
                <button style="width: 20em;height: 3em;font-size: medium;" (click)="router.navigate(['/campanas']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <p style="font-size: xxx-large; color: white;display: block; text-align: center;">
                    Mantente informado de nuestros eventos
                </p>
                <button style="width: 20em;height: 3em;font-size: medium;" (click)="router.navigate(['/eventos']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <p style="    font-size: xxx-large; color: white;display: block;text-align: center;">
                   Mantente informado con nuestras noticias
                </p>
                <button style="width: 20em;height: 3em;font-size: medium;" (click)="router.navigate(['/eventos']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
    </ngb-carousel>
</div> 


<div id="campañareciente">Campañas Recientes</div>
<div style="width:290px;height:5px; background: #00A6FF;margin-left: 4.5em;"></div>

<div class="row" ng-repeat="(key, value) in myArray" style=" display: flex;padding-left: 3em; margin-right:5em; margin-top: 2em;">
<!--<div class="row" *ngFor="let objeto of myArray; let indice=index" style="display: flex;padding-left: 3em; margin-right:5em;">-->

    <div class="col-xs-12 col-md-4 col-lg-4" style=" margin-bottom: 2em;">
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{myArray[1].name}}</mat-card-title>
                    <mat-card-subtitle>{{myArray[1].promoter.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src={{myArray[1].campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium; text-align: justify;">{{myArray[1].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary"><mat-icon class="material-icons1" >face</mat-icon > {{myArray[2].numFollowers}}</button>
                    <button mat-icon-button style="font-size: medium;" color="primary"(click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button>             
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>


    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{myArray[2].name}}</mat-card-title>
                    <mat-card-subtitle>{{myArray[2].promoter.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{myArray[2].campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{myArray[2].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary"><mat-icon class="material-icons1" >face</mat-icon > {{myArray[2].numFollowers}}</button>
                    <button mat-icon-button style="font-size: medium;" color="primary"(click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button>             
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>
    <!--melanie-->

    <!--melanie-->
    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">
             
        <mat-sidenav-container class="example-container">

            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{myArray[1].name}}</mat-card-title>
                    <mat-card-subtitle>{{myArray[1].promoter.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{myArray[1].campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{myArray[1].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary"><mat-icon class="material-icons1" >face</mat-icon > {{myArray[1].numFollowers}}</button>
                    <button mat-icon-button style="font-size: medium;" color="primary"(click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button>
                        
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>
  

    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{myArray[3].name}}</mat-card-title>
                    <mat-card-subtitle>{{myArray[3].promoter.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{myArray[3].campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium; text-align: justify;">{{myArray[3].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary" ><mat-icon class="material-icons1" >face</mat-icon > {{myArray[3].numFollowers}}</button>
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary" (click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button>
                        
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{myArray[3].name}}</mat-card-title>
                    <mat-card-subtitle>{{myArray[3].promoter.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{myArray[3].campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium; text-align: justify;">{{myArray[3].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary" ><mat-icon class="material-icons1" >face</mat-icon > {{myArray[3].numFollowers}}</button>
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary" (click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button>
                   
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>
    
</div>


<div id="campañareciente">Eventos Destacados</div>
<div style="width:290px;height:5px; background: #00A6FF;margin-left: 4.5em;"></div>

<div class="row" style="display: flex;padding-left: 3em;margin-top:2em; margin-right:3em;">
    
    
    <!-- MELANIE <div class="col-md-4" style="margin-right: 2em;">-->
    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">       
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card1" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{events[0].name}}</mat-card-title>
                    <mat-card-subtitle>{{events[0].type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image img-fluid src={{events[0].eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{events[0].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 5em;" >
                        <mat-icon class="material-icons1" style="color:#f44336">
                        favorite</mat-icon>100</button>
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                    (click)="router.navigate(['/eventos'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon>
                     Ver más</button>
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>
    
    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">       
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card1" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/169346.jpg);"></div>
                    <mat-card-title>{{events[1].name}}</mat-card-title>
                    <mat-card-subtitle>{{events[1].type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image img-fluid src={{events[1].eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{events[1].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 5em;" >
                        <mat-icon class="material-icons1" style="color:#f44336">
                        favorite</mat-icon>200</button>
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                    (click)="router.navigate(['/eventos'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon>
                     Ver más</button>
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">         
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card1" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/169346.jpg);"></div>
                    <mat-card-title>{{events[2].name}}</mat-card-title>
                    <mat-card-subtitle>{{events[2].type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image img-fluid src={{events[2].eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{events[2].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 5em;" >
                        <mat-icon class="material-icons1" style="color:#f44336">
                        favorite</mat-icon>4500</button>
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                    (click)="router.navigate(['/eventos'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon>
                     Ver más</button>
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;"> 
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card1" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{events[3].name}}</mat-card-title>
                    <mat-card-subtitle>{{events[3].type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image img-fluid src={{events[3].eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{events[3].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 5em;" >
                        <mat-icon class="material-icons1" style="color:#f44336">
                        favorite</mat-icon>90</button>
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                    (click)="router.navigate(['/eventos'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon>
                     Ver más</button>
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4" style="margin-bottom: 2em;">         
        <mat-sidenav-container class="example-container">
            <mat-card class="example-card1" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{events[4].name}}</mat-card-title>
                    <mat-card-subtitle>{{events[4].type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image img-fluid src={{events[4].eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <mat-card-content> 
                    <p style="font-size: medium;  text-align: justify;">{{events[4].description}}</p></mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 5em;" >
                        <mat-icon class="material-icons1" style="color:#f44336">
                        favorite</mat-icon>1230</button>
                    <button mat-icon-button color="primary" style="font-size: medium; margin-right: 2em;" 
                    (click)="router.navigate(['/eventos'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon>
                     Ver más</button>
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
    </div>

    <!--melanie-->
</div>
