
<div id="div">
    <ngb-carousel *ngIf="images"  >
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <p style="font-size: xxx-large; color: white;display: block; text-align: center;">
                    ¿Quieres conocer campañas cerca de ti?
                </p>
                <button style="font-size: x-large; width: 20em;height: 3em;" (click)="router.navigate(['/eventos']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <p style="font-size: xxx-large; color: white;display: block; text-align: center;">
                    Mantente informado de nuestras convocatorias a eventos
                </p>
                <button style="width: 20em;height: 3em;font-size: x-large;" (click)="router.navigate(['/eventos']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <p style="    font-size: xxx-large; color: white;display: block;text-align: center;">
                   Mantente informado con nuestras noticias
                </p>
                <button style="width: 20em;height: 3em;font-size: x-large;" (click)="router.navigate(['/eventos']);" mat-raised-button>Descúbrelo</button>
            </div>
        </ng-template>
    </ngb-carousel>

</div> 


<div id="campañareciente">Campañas Recientes</div>
<div style="width:290px;height:5px; background: #f05454;margin-left: 4.5em;"></div>


<div class="row" style="display: flex;padding-left: 3em;margin-right:3em;">

    <div class="col-xs-12 col-md-4 col-lg-4" *ngFor="let campaign of myArray; let i=index" style="display: flex;padding-left: 3em; margin-top:4em;">         
        
        <mat-sidenav-container  class="example-container" style="cursor:pointer">
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                    <mat-card-title>{{campaign.name}}</mat-card-title>
                    <mat-card-subtitle>{{campaign.promotore.name}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src={{campaign.campaignPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
                <div style="margin-top: 1em;">
                    <mat-card-subtitle>Autoridad: {{campaign.autority.name}}</mat-card-subtitle>
                    <mat-card-subtitle>{{campaign.dateStart}} - {{campaign.dateEnd}}</mat-card-subtitle>
                    
                </div>
                <mat-card-actions class="action-buttons">
                    <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary">Seguidores: {{campaign.numFollowers}}  <mat-icon class="material-icons1" >face</mat-icon >  </button>
                    <!--<button mat-icon-button style="font-size: medium;" color="primary"(click)="router.navigate(['/campanas'])" target="_blank" ><mat-icon class="material-icons1">visibility</mat-icon> Ver más</button> -->         
                </mat-card-actions>
            </mat-card>
        </mat-sidenav-container>
        
        
    </div>

</div>


<div id="campañareciente">Eventos Destacados</div>
<div style="width:290px;height:5px; background: #f05454;margin-left: 4.5em;"></div>

<div class="row" style="display: flex;padding-left: 3em; margin-right:3em;">
    
    <div  class="col-xs-12 col-md-4 col-lg-4" *ngFor="let event of events; let ind=index" style="display: flex;padding-left: 3em;  margin-top:4em;">  

            <mat-sidenav-container  class="example-container" style="cursor:pointer">
                <mat-card class="example-card" >
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" style="background-image: url(../../assets/img/images.jpg);"></div>
                        <mat-card-title>{{event.name}}</mat-card-title>
                        <mat-card-subtitle>{{event.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image img-fluid src={{event.eventPic}} alt="Photo of a Shiba Inu" width="367.737" height="294.188">
    
                    <mat-card-actions class="action-buttons">
                        <button mat-icon-button style="font-size: medium; margin-right: 2em;" color="primary">{{event.numFollowers}}<mat-icon class="material-icons1" >face</mat-icon >  </button>
                    </mat-card-actions>
                </mat-card>
            </mat-sidenav-container>
    </div>
        

</div>
